@import '../../styles/base';

.country-card {
  width: 300px;
  &__wrapper {
    height: 300px;
    box-shadow: 3px 3px 3px 3px rgb(198, 198, 198);
    padding: 25px;
    border-radius: 12px;

    img {
      width: 200px;
      height: 150px;
    }
  }

  &__name {
  }

  &__region {
  }
}
